@value secondary, primary, darken, pink from "../../styles/colors.css";

.container{
    background-color: primary;
    color: secondary;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
}

.userList{
    text-align: center;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
}

.userList.isDisabled {
    filter: blur(10px);
}

.title{
    text-align: right;
    vertical-align: top;
    padding: 10px;
    line-height: 1.5;
    text-transform: uppercase;
}

.userListItem{
    text-align: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    min-height: 25%;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarButton{
    width: 25vh;
    height: 25vh;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.userListItem svg{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}



.avatarButton:disabled,
.avatarButton[disabled]{

}

.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid secondary;
}

.userListItem.isCurrent .avatar{
    border: 5px solid primary;
}

.name {
    margin-top: 20px;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    left: 50%;
    transform: translateX(-50%);
}

.menu{
    vertical-align: middle;
}


.settingsBtn {
    background-color: primary;
    color: primary;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    text-align: center;
    padding: 0;
}

.settingsBtn:hover{
    background: pink;
    color: primary;
    border: 2px solid primary
}

.addUserButton{
    background-color: pink;
    color: primary;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    padding: 0;
    top: 10px;
    right: 10px;
    position: fixed;
}
