.container{
    width: 100%;
    background-color: #fff;
    padding: 30px;
    color: #222;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
}

.userList{
    text-align: center;
}

.title{
    text-align: right;
    vertical-align: top;
    padding: 10px;
    line-height: 1.5;
    text-transform: uppercase;
}

.userListItem{
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.avatarButton{
    
}

.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #222;
}

.userListItem.isCurrent .avatar{
    border: 5px solid white;
}

.name {
    display: block;
    margin-top: 20px;
}

.menu{
    vertical-align: middle;
}


.settingsBtn {
    background-color: white;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    text-align: center;
    padding: 0px;
}

.settingsBtn:hover{
    background: rgb(238,174,202);
    color: #fff;
    border: 2px solid white
}

.input{
    border: none;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 270px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #ffffff61;
}
