@value secondary, primary, darken, pink from "../../styles/colors.css";

.container{
    background-color: primary;
    color: secondary;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
    height: 100vh;
}

.userList{
    text-align: center;
    display: flex;
    overflow: auto;
    position: relative;
    padding: 10px;
    height: 100vh;
    align-items: center;
}

.userList.isDisabled {
    filter: blur(10px);
}

.userList.hasNew{
    overflow: visible;
}

.title{
    position: absolute;
    left: 10px;
    top: 10px;
    transition: filter 500ms ease-in-out;
}

.title.isDisabled{
    filter: blur(4px);
}

.userListItem{
    cursor: pointer;
    margin: 10px 40px;
    box-sizing: border-box;
    min-width: 250px;
    padding-top: 250px;
    position: relative;
    flex-grow: 1;
    filter: blur(0);
    transition: filter 500ms ease-in-out;
}

.userListItem:first-child{
    z-index: 1;
}

.userListItem.isNew ~ .userListItem {
    filter: blur(4px);
}

.userListItemAppear{
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.userListItemAppearDone {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.userListItemEnter {
    opacity: 0;
}

.userListItemEnterActive {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.userListItemExit {
    opacity: 1;
}
.userListItemExitActive {
    opacity: 0;
    transition: opacity 500ms ease-in;
}


.avatarButton{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: block;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0) scale(1);
}
.avatarButton.isNew{
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(3);
    left: 50vw;
    top: 50%;
    z-index: 1;
}

.ghostAvatarWrapper{
    composes: avatarButton;
    z-index: -1;
}

.ghostAvatarWrapper g[id*='Top/'] ,
.ghostAvatarWrapper g[id*='Skin/'] ,
.ghostAvatarWrapper g[id*='Eyebrow/'],
.ghostAvatarWrapper g[id*='Eyes/'],
.ghostAvatarWrapper g[id*='Nose/'],
.ghostAvatarWrapper g[id*='Mouth/'],
.ghostAvatarWrapper g[id*='Clothing/']{
    opacity: 0;
}
.ghostAvatarWrapper.hasNewSibling{
    filter: blur(4px);
}

.userListItem svg{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}



.avatarButton:disabled,
.avatarButton[disabled]{

}

.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid secondary;
}

.name {
    margin-top: 20px;
    font-size: 20px;
    background-color: #222;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    text-transform: uppercase;
}

.isNew .name{
    visibility: hidden;
}

.menu{
    vertical-align: middle;
}

.settingsBtn {
    background-color: primary;
    color: primary;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    text-align: center;
    padding: 0;
}

.settingsBtn:hover{
    background: pink;
    color: primary;
    border: 2px solid primary
}

.addUserButton{
    background-color: pink;
    color: primary;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    padding: 0;
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.addUserButton.hasNoUsers{
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.prompt{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: pink;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.promptTitle{
    font-size: 32px;
    color: primary;
    text-transform: uppercase;
    line-height: 1.5;
}

.promptAvatarWrapper{
    height: 100%;
    display: flex;
    align-items: center;
}

.promptAvatar{
    background-color: primary;
    border-radius: 50%;
    overflow: hidden;
}

.promptBtn{
    padding: 10px 40px;
    margin: 10px;
    background-color: primary;
    color: secondary;
    border-radius: 10px;
    font-size: 35px;
}

.promptOptions{
    display: flex;
}

.temp{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.2;
}
