@value secondary, primary, darken, pink from "../../styles/colors.css";

.container{
    width: 100%;
    background-color: secondary;
    padding: 30px;
    color: primary;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
}

.container h2{
    text-align: center;
}

.header{
    margin-bottom: 20px;
    text-align: center;
}

.header h2{
    font-size: 16px;
}

.userList{
    text-align: center;
    padding-top: 25px;
}

.userList:last-of-type{
    padding-bottom: 100px;
}

.info{
    position: fixed;
    z-index: 1;
    background-color: black;
    left: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
}

.userListItem{
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    vertical-align: middle;
    filter: grayscale(0);
    width: 100%;
}

.avatarButton {
    width: 65px;
    height: 65px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    background-color: secondary;
    border: 5px solid primary;
}

.avatarButton svg {
    width: 100%;
    height: auto;
}

.userListItem.isLegit{
    filter: grayscale(0)
}
.userListItem.isCurrent .avatarButton{
    zoom: 1.2;
    cursor: pointer
}

.name {
    color: primary;
    font-size: 12px;
    margin-top: 10px;
}

.menu{
    vertical-align: middle;
    background-color: #222;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.menu.isLegit{
    position: fixed;
    left: 0;
    bottom: 0;
}


.settingsBtn {
    color: primary;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    text-align: center;
    background: pink;
    padding: 0;
    border: 2px solid white
}

.settingsBtn:hover{
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    color: primary;
}

.hr{
    border: none;
    height: 2px;
    background-color: #eee;
    width: 75%;
    margin: 25px auto;
}

.clients {

}

.client{
    width: 200px;
}

.client a{
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px auto;
    background-color: #000;
}

.client img{
    max-width: 100%;
}

.client.is-SVTPlay a{
    background-color: #0e0e0e;
}

.client.is-URPlay a{
    background-color: #110737;
}

.client.is-SverigesRadio a{
    background-color: #f3f3f3;
}

.client.is-SVTBarn a{
    background-color: #410f5a;
}
