@value secondary, primary, darken, pink from "../../styles/colors.css";

.container{
    width: 100%;
    background-color: secondary;
    padding: 30px;
    color: primary;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
}

.userList{
    text-align: center;
    padding-bottom: 100px;
}

.info{
    position: fixed;
    z-index: 1;
    background-color: black;
    left: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
}

.title{
    text-align: right;
    vertical-align: top;
    padding: 10px;
    line-height: 1.5;
    text-transform: uppercase;
}

.userListItem{
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    filter: grayscale(1)
}

.avatarButton {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid secondary;
    overflow: hidden;
}

.avatarButton svg {
    width: 100%;
    height: auto;
}
.userListItem.isLegit{
    filter: grayscale(0)
}
.userListItem.isCurrent .avatarButton{
    border: 5px solid white;
}

.name {
    display: block;
    margin-top: 20px;
    color: primary;
    font-size: 12px;
}

.menu{
    vertical-align: middle;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}


.settingsBtn {
    background-color: white;
    color: primary;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    text-align: center;
    padding: 0px;
}

.settingsBtn:hover{
    background: rgb(238,174,202);
    color: primary;
    border: 2px solid white
}
