@value secondary, primary, darken, pink from "../../../src/styles/colors.css";

.containerInner{
    padding: 10px;
}

.currentUser{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.currentUserBgOuter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.currentUserBg{
    width: 400%;
    height: auto;
    position: absolute;
    left: -150%;
    top: 0;
    filter: blur(20px);
    opacity: 0.7;
    text-align: center;
}

.currentUserAvatar{
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.currentUserName{
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 10px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.currentUserClientList{
    position: absolute;
    top: 5px;
    right: 5px;
}

.currentUserClientList .avatarClients{
    flex-direction: column;
    width: auto;
}



.userList{

}

.userList:last-of-type{
    padding-bottom: 60px;
}

.info{
    position: fixed;
    z-index: 1;
    background-color: black;
    left: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
}

.userListItem{
    margin-bottom: 15px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #393050;
    color: #fff;
    transform-origin: center center;
    transition: all 200ms ease-in-out;
}

.userListItem:hover{
    transform: scale(1.03);
}

.userListItemButton{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 16px;
}

.avatar {
    cursor: pointer;
    transform-origin: center center;
    transition: all 200ms ease-in-out;
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    background-color: #222;
    border: 2px solid #fff;
    flex-grow: 0;
    flex-shrink: 1;
}

.avatarButton svg {
    width: 100%;
    height: auto;
}

.userListItem.isCurrent .avatarButton{
    zoom: 1.2;
    cursor: pointer
}

.name {
    color: #fff;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.avatarClients{
    display: flex;
    width: 60px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.avatarClient{
    width: 25px;
    height: 25px;
    background-color: #222;
    margin: 5px auto;
    border-radius: 50%;
    padding: 3px;
    border: none;
    opacity: 1;
    vertical-align: middle;
    line-height: 20px;
}

.avatarClient img {
    max-width: 100%;
    height: auto;
}

.avatarClient.isUsing{
    opacity: 1;
}

.avatarClient.is-SVTPlay{
    line-height: 18px;
    background-color: #0e0e0e;
}

.avatarClient.is-URPlay{
    background-color: #110737;
}

.avatarClient.is-SverigesRadio{
    background-color: #f3f3f3;
}

.avatarClient.is-SVTBarn{
    line-height: 14px;
    background-color: #410f5a;
}


.footer{
    vertical-align: middle;
    background-color: rgba(45,39,64,1);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: -2px -2px 5px 0 rgba(0,0,0,0.2);

}

.footer.isFixed{
    position: fixed;
    left: 0;
    bottom: 0;
}


.settingsBtn {
    color: primary;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transform-origin: center center;
    transition: all 200ms ease-in-out;
}

.settingsBtn:hover {
}

.settingsBtn svg{
    margin: 0 10px;
}

.settingsBtn:hover svg {
    transform: rotate(180deg);
}

.clients {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.client{
    width: 50%;
}

.client a{
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px auto;
    background-color: #000;
    transform-origin: center center;
    transition: all 200ms ease-in-out;
}
.client a:hover{
    transform: scale(1.05);
}

.client img{
    max-width: 100%;
}

.client.is-SVTPlay a{
    background-color: #0e0e0e;
}

.client.is-URPlay a{
    background-color: #110737;
}

.client.is-SverigesRadio a{
    background-color: #f3f3f3;
}

.client.is-SVTBarn a{
    background-color: #410f5a;
}
