@value secondary, primary, darken, pink from "../../../src/styles/colors.css";

.container{
    width: 100%;
    background: linear-gradient(0deg, rgba(52,45,74,1) 0%, rgba(45,39,64,1) 100%);
    padding: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    min-width: 380px;
}

.container h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 5px;
    color: #fff;
}

.container svg {
    max-width: 100%;
    height: auto;
}

.header{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
    padding: 10px;
}

.currentUser{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.currentUserBg{
    width: 200%;
    height: auto;
    position: absolute;
    left: 0;
    filter: blur(20px);
    opacity: 0.5;
}

.currentUserAvatar{
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.currentUserName{
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 10px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;
}


.userList{

}

.userList:last-of-type{
    padding-bottom: 100px;
}

.info{
    position: fixed;
    z-index: 1;
    background-color: black;
    left: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
}

.userListItem{
    margin-bottom: 15px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #393050;
    color: #fff;
}

.avatarButton {
    cursor: pointer;
    transform-origin: center center;
    transition: all 200ms ease-in-out;
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    background-color: #222;
    border: 2px solid #fff;
    flex-grow: 0;
    flex-shrink: 0;
}

.avatarButton svg {
    width: 100%;
    height: auto;
}

.userListItem.isCurrent .avatarButton{
    zoom: 1.2;
    cursor: pointer
}

.name {
    color: #fff;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.avatarClients{
    display: flex;
    width: 60px;
    flex-wrap: wrap;
}

.avatarClient{
    width: 20px;
    height: 20px;
    background-color: pink;
    margin: 5px;
    border-radius: 50%;
    padding: 0;
    border: none;
}


.menu{
    vertical-align: middle;
    background-color: #222;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.menu.isLegit{
    position: fixed;
    left: 0;
    bottom: 0;
}


.settingsBtn {
    color: primary;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 20px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    text-align: center;
    background: pink;
    padding: 0;
    border: 2px solid white
}

.settingsBtn:hover{
    background: linear-gradient(320deg, rgba(34, 193, 195, 0.7) 0%, rgba(107, 45, 253, 0.7) 100%);
    color: primary;
}

.clients {

}

.client{
    width: 200px;
}

.client a{
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px auto;
    background-color: #000;
}

.client img{
    max-width: 100%;
}

.client.is-SVTPlay a{
    background-color: #0e0e0e;
}

.client.is-URPlay a{
    background-color: #110737;
}

.client.is-SverigesRadio a{
    background-color: #f3f3f3;
}

.client.is-SVTBarn a{
    background-color: #410f5a;
}
