.avatar {
  background-color: #fff;
}

.avatarOptions{

}

.tabs {
  display: block;
  overflow: auto;
  padding: 10px 0;
  white-space: nowrap;
  text-align: center;
}

.tab {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}

.selectedTab {
  border: 1px solid #fff;
}

.tabpanes {
  padding: 10px;
}

.tabpane {
  display: none;
  white-space: nowrap;
}

.visible {
  display: block;
}

.pieces{
  overflow: hidden;
}

.piece {
  float: left;
  margin: 0 10px;
  position: relative;
}

.piece:hover {
  background-color: #cce5ff;
  cursor: pointer;
}

.none {
  position: absolute;
  left: 0;
  top: 0;
}



.colors {
  display: flex;
}
.color {
  height: 70px;
  cursor: pointer;
  flex: 1;
}
