@value secondary, primary, darken from "../../styles/colors.css";

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}

.input{
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: darken;
  color: primary;
  border-radius: 10px;
}

.avatarOptions{
  overflow: hidden;
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex: 1;
  background-color: darken;
  margin: 10px 0;
}

.tabs {
  width: 145px;
}

.tab {
  cursor: pointer;
  color: primary;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}

.selectedTab {
  border: 1px solid primary;
}

.tabpanes {
  padding: 10px;
  width: 100%;
}

.tabpane {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.visible {
  display: flex;
}

.pieces{
  overflow: auto;
  flex: 1;
  height: 100%;
}

.piece {
  float: left;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

.piece svg {
  transform-origin: top left;
}

.piece:hover {
  background-color: #cce5ff;
  cursor: pointer;
}

.piece.is-facialHairType{
  background-color: rgba(255, 255, 255, 1);
}

.piece.is-eyeType, 
.piece.is-eyebrowType,
.piece.is-accessoriesType,
.piece.is-mouthType{
  height: 100px;
  width: 100px;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.piece.is-accessoriesType{
  background-color: rgba(255, 255, 255, 0.5);
}

.piece.is-eyeType svg,
.piece.is-eyebrowType svg,
.piece.is-mouthType svg{
  transform: scale(2);
}

.piece.isCurrent {
  background-color: #e87f7f;
}

.colors {
  display: flex;
  height: 70px;
}
.color {
  height: 70px;
  cursor: pointer;
  flex: 1;
}
