.top{
    background: #ef9191;
}

.body{
    background: #ef9191;
    padding: 10px;
    overflow: hidden;
}

.input{
    border: none;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}

.btn{
    background-color: #fff;
    border: none;
    padding: 10px;
    margin: 10px 0 10px 10px;
    float: right;
}
