.container{
    background: linear-gradient(0deg, rgba(52,45,74,1) 0%, rgba(45,39,64,1) 100%);
    color: secondary;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 16px;
    height: 100vh;
    overflow: auto;
}

.header{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
    padding: 10px;
    position: absolute;
}
