.page {
    text-align: center;
}

.title{
    font-size: 50px;
    margin: 20px 5px;
    background-color: #fff;
    color: #312b47;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}

.list{
    height: auto;
}
